.blockquote {
    max-width: 500px;
    width: 100%;
    height: 325px;
    margin: 0;
    grid-area: 2/2/3/3;
    position: relative;
}

.blockquote__paragraph {
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0;
    max-width: 450px;
    width: 100%;
    height: 202px;
    margin-bottom: 39px;
}

.blockquote__quotes {
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    color: var(--main-color_medium);
}

.blockquote__cite {
    display: block;
    font-size: 20px;
    line-height: 28px;
    width: 100%;
    white-space: pre-wrap;
    position: absolute;
    right: 0;
    text-align: left;
    max-width: 389px;
    height: 84px;
    padding-left: 103.72px;
    margin: 0;
    background-image: url('../img2/blockquote_image/ava.png');
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: 0;
}


@media (max-width: 1124px) {
    .blockquote {
        max-width: 444px;
        height: 217px;
    }
    
    .blockquote__paragraph {
        font-size: 30px;
        line-height: 36px;
        max-width: 425px;
        height: 115px;
        margin-bottom: 13px;
    }
    
    .blockquote__quotes {
        font-size: 30px;
        line-height: 36px;
    }
    
    .blockquote__cite {
        font-size: 18px;
        line-height: 26px;
        max-width: 330px;
        height: 78px;
        padding-left: 105px;
        background-size: 70px 70px;
    }
}


@media (max-width: 840px) {
    .blockquote {
        max-width: 688px;
        height: 184px;
        grid-area: 2/1/3/3;
    }
    
    .blockquote__paragraph {
        font-size: 32px;
        line-height: 36px;
        max-width: 688px;
        height: 90px;
        margin-bottom: 16px;
    }
    
    .blockquote__quotes {
        font-size: 32px;
        line-height: 36px;
    }
    
    .blockquote__cite {
        max-width: 320px;
        height: 78px;
        padding-left: 95px;
        background-position: 0;
    }
}

@media (max-width: 545px) {

    .blockquote {
        max-width: 280px;
        height: 143px;
        grid-area: 3/1/4/2;
    }
    
    .blockquote__paragraph {
        font-size: 18px;
        line-height: 26px;
        max-width: 280px;
        height: 79px;
        margin-bottom: 9px;
    }
    
    .blockquote__quotes {
        font-size: 18px;
        line-height: 26px;
    }
    
    .blockquote__cite {
        font-size: 12px;
        line-height: 16px;
        max-width: 210px;
        height: 56px;
        justify-items: center;
        align-items: center;
        padding-left: 67px;
        background-size: 56px 56px;
        background-position: 0;
    }
}