.footer {
    max-width: 1440px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding: 50px 130px 10px 130px;
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer__title {
    margin-bottom: 40px;
}

.adress__paragraph {
    background-image: url("../img2/footer_image/location.svg");
    margin: 0 0 38px 0;
    white-space: pre-wrap;
}

.adress__contact {
    margin-bottom: 39px;
}

.adress__contact-link {
    display: block;
}

.adress__contact-tel {
    margin: 0 0 11px 0;
    background-image: url("../img2/footer_image/bx_bxs-phone-call.svg");
}

.adress__contact-mail {
    background-image: url("../img2/footer_image/envelope.svg");
}

.adress__icon {
    padding-left: 65.56px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 34.96px 32px;
}

.adress__block-info {
    width: 450px;
}

.adress_block-map {
    width: 680px;
    height: 274px;
}

.adress__container {
    width: 1180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 156px;
}

.copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
}

.copyright__developers {
    text-align: end;
}

.social__item {
    list-style: none;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 26px;
}

.social__link {
    text-decoration: none;
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.social__link:focus {
    color: var(--main-color_lightpurple);
    outline: 1px solid var(--main-color_light);
    transition-duration: .200s;
}

.social__link:hover {
    color: var(--main-color_lightpurple);
    transition-duration: .300s;
}

.social__link:active {
    color: var(--main-color_light);
    outline: none;
    transition-duration: .200s;
}

.social__item:last-child {
    margin-right: 0;
}

.copyright__developers_p2:hover {
    color: var(--main-color_light);
    transition-duration: .300s;
}

.adress__contact-tel:hover,
.adress__contact-mail:hover {
    color: var(--main-color_light);
    transition-duration: .300s;
}

.adress__contact-tel:focus,
.adress__contact-mail:focus {
    outline: 1px solid purple;
    transition-duration: .100s;
}