.header {
    max-width: 1240px;
    margin: 0 auto;
    padding: 30px 30px 25px 30px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger {
    display: none;
}

.header__logo {
    max-width: 120px;
    height: 66px;
}

.header__list {
    align-items: center;
    display: flex;
    gap: 40px;
}

.header__item {
    display: inline-flex;
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
}

.header__button {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    border: 3px solid var(--main-color_light);
    border-radius: 10px;
    background-color: transparent;
    height: 55px;
    width: 280px;
    box-sizing: border-box;
}

.header__button:hover,
.header__button:focus {
    background: var(--main-color_medium);
    border: 3px solid var(--main-color_medium);
    outline: none;
    transition-duration: .500s;
}

.header__button:active {
    background: var(--main-color_blueviolet);
    border: 1px solid #000000;
    transition-duration: .500s;
}

.header__link:hover {
    color: var(--main-color_light);
    transition-duration: .500s;
} 

.header__link:focus {
    outline: 1px solid var(--main-color_light);
    transition-duration: .200s;
}

@media (max-width: 1124px) {
    .header {
        padding: 30px 30px 15px 30px;
        max-width: 964px;
    }
    
    .header__logo {
        max-width: 87px;
        height: 55px;
    }
    
    .header__list {
        gap: 20px;
    }
    
    .header__item {
        font-size: 18px;
        line-height: 22px;
    }
    
    .header__button {
        font-size: 18px;
        line-height: 24px;
        border-radius: 8px;
        height: 45px;
        width: 229px;
    }
}

@media (max-width: 840px) {
    .header {
        max-width: 748px;
        padding: 32px 30px 15px 30px;
    }

    .header__list {
        display: none;
    }
    
    .header__burger {
        color: var(--main-color_medium);
        display: inline-block;
        width: 54px;
        height: 29px;
    }

    .header__burger:hover {
        color: var(--main-color_light);

    }

    .header__burger:active {
        color: var(--main-color_blueviolet);
    }

    .header__burger:focus {
        border: 1px solid var(--main-color_blueviolet);
        outline: none;
        transition-duration: .100s;
    }
}

@media (max-width: 545px) {
    .header {
        max-width: 320px;
        padding: 20px 20px 10px 20px;
    }

    .header__burger {
        width: 39px;
        height: 20px;
    }

    .header__button {
        display: none;
    }

    .header__logo {
        width: 66px;
        height: 42px;
    }
}