.our-halls {
    max-width: 1240px;
    margin: 0 auto;
    padding: 50px 0;
}

.our-halls__container {
    padding: 0 30px;
}

.our-halls__title {
    margin-bottom: 40px;
}

.our-halls__item {
    max-width: 580px;
    height: 349px;
}

.our-halls__list {
    max-width: 1180px;
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    gap: 20px;
}

.our-halls__link {
    width: 100%;
    height: 349px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.our-halls__link-vibes80 {
    background-image: url("../img2/our-halls_image/80vibes_home.jpg");
}

.our-halls__link-starwars {
    background-image: url("../img2/our-halls_image/star_wars_home.jpg");
}

.our-halls__link-wilswest {
    background-image: url("../img2/our-halls_image/wild_west_home.jpg");
    margin-bottom: 0;
}

.our-halls__link-neonstyle {
    background-image: url("../img2/our-halls_image/neon_home.jpg");
    margin-bottom: 0;
}

.our-halls__link:hover {
    transform: scale(0.95);
    transition-duration: .7s;
    box-shadow: 0 0 15px var(--main-color_light);
}

.our-halls__link:focus {
    outline: 1px solid var(--main-color_light);
    transition-duration: .2s;
}

.our-halls__link:active {
    outline: 2px solid white;
    transition-duration: .1s;
}


@media (max-width: 1124px) {
    .our-halls {
        max-width: 964px;
        padding: 35px 0;
    }
    
    .our-halls__title {
        margin-bottom: 36px;
        font-size: 30px;
        line-height: 40px;
    }
    
    .our-halls__item {
        max-width: 442px;
        height: 266px;
    }
    
    .our-halls__list {
        max-width: 904px;
    }
    
    .our-halls__link {
        width: 100%;
        height: 266px;
    }
}

    @media (max-width: 840px) {
    .our-halls {
        max-width: 748px;
        padding: 30px 0 31px 0;
    }
        
    .our-halls__title {
        margin-bottom: 35px;
        font-size: 24px;
        line-height: 36px;
    }
        
    .our-halls__item {
        max-width: 334px;
        height: 200px;
    }
        
    .our-halls__list {
        max-width: 688px;
    }
        
    .our-halls__link {
        height: 200px;
    }
}

    @media (max-width: 545px) {
    .our-halls {
        max-width: 320px;
        padding: 15px 0;
    }
        
    .our-halls__container {
        padding: 0 20px;
    }
        
    .our-halls__title {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 18px;
    }
        
    .our-halls__item {
        max-width: 280px;
        height: 168px;
    }
        
    .our-halls__list {
        max-width: 280px;
        display: grid;
        grid-template: repeat(4, 1fr)/repeat(1, 4fr);
        gap: 10px;
    }
        
    .our-halls__link {
        height: 168px;
    }
}
