:root {
    --main-color_dark: #440F51;
    --main-color_medium: #6C0287;
    --main-color_light: #CD06FF;
    --main-color_blueviolet: #640AA3;
    --main-color_lightpurple: #EADEED;
}

/* .faq {
    --main-color_faq: #440F51
} */