.we-have {
    max-width: 1240px;
    margin: 0 auto 100px auto;
    padding: 0 30px;
}

.we-have__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    white-space: pre-wrap;
    margin-bottom: 41px;
}

.we-have__list {
    height: 565px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.we-have__item {
    width: 380px;
    height: 228px;
    background-size: cover;
}

.we-have__list_block {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    flex-direction: column;
}

.we-have__list_block-2 {
    justify-content: flex-end;
}

.we-have__item:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}

.we-have__item_vr {
    background-image: url("../img2/we-have_image/vr.jpg");
}

.we-have__item_audio {
    background-image: url("../img2/we-have_image/audio.jpg");
}

.we-have__item_micro {
    background-image: url("../img2/we-have_image/micro.jpg");
}

.we-have__item_game {
    background-image: url("../img2/we-have_image/game.jpg");
}

.we-have__item_cinema {
    background-image: url("../img2/we-have_image/netflix.jpg");
}

.we-have__item_playstation {
    background-image: url("../img2/we-have_image/sony.jpg");
}
